@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255, 208, 0);
}

.App {
  text-align: center;
}

.App img {
  margin: 10px;
  max-width: 80%;
}

.App h4 {
  margin: 20px;
}

.main {
  display: flex;
  justify-content: space-around;
}
